{% extends 'layout.html.twig' %}
{% set active = 'add_keywords' %}

{% block content %}
	<ol class="breadcrumb">
      <li><a href="{{ home.url }}">Home</a> ></li>
      <li><a href="{{ project.url }}">{{ project.name }}</a> ></li>
      <li class="active">Añadir Keywords</li>
    </ol>
	<h1>Añadir keywords al proyecto</h1>
	{% if currentKeywords is defined%}
		<h2>Keywords actuales</h2>
		<ul>
		{% for item in currentKeywords %}
			<li>{{item}}</li>
		{% endfor %}
		</ul>
		<form action="#" method="post">
		    {{ form_widget(form) }}

		    <input type="submit" name="submit" />
		</form>

	{% endif %}
    
{% endblock %}
