{% extends 'layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="{{ home.url }}">Home</a> ></li>
      <li><a href="{{ project.url }}">{{ project.name }}</a> ></li>
      <li class="active">{{ keyword.name }}</li>
    </ol>
    <script type="text/javascript">


      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.

        var dataRank = new google.visualization.DataTable();
        var dataVisib = new google.visualization.DataTable();
        var donutVisib = new google.visualization.DataTable();
        donutVisib.addColumn('string','Site');
        donutVisib.addColumn('number', 'Visibilidad');

        

        {% if dataRanking is defined and columns is defined %}
          var dataArrayRanking = {{ dataRanking|raw }};
          var dataArrayVisibility = {{ dataVisibility|raw}}
          var dataColumns = {{ columns|raw }}


          dataRank.addColumn('datetime', 'minute');
          dataVisib.addColumn('datetime', 'minute');
          dataRank.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});


          for(var i=1; i<dataColumns.length;i++){
            dataRank.addColumn('number', dataColumns[i]);
            dataVisib.addColumn('number', dataColumns[i]);
          }

          for(var z=1;z<dataColumns.length;z++){
            donutVisib.addRow([dataColumns[z],dataArrayVisibility[dataArrayVisibility.length-1][z]]);
          }
          console.log(donutVisib );

          for(var i=0;i<dataArrayRanking.length;i++){
            var tempDate = new Date(dataArrayRanking[i][0]);
            var tempArray = [tempDate];

            for(j=1;j<dataArrayRanking[i].length;j++){
              tempArray.push(dataArrayRanking[i][j]);
            }
            
            dataRank.addRow(tempArray);
          }
          

          for(var i=0;i<dataArrayVisibility.length;i++){
            var tempDate = new Date(dataArrayVisibility[i][0]);
            var tempArray = [tempDate];
            for(j=1;j<dataArrayVisibility[i].length;j++){
              tempArray.push(dataArrayVisibility[i][j]);
            }
            dataVisib.addRow(tempArray);
          }
          var keyword = "{{ keyword.name }}";
          var title = "Posicionamiento en News: "+keyword;

          // Set chart options
          var options = {'title': title,
                         'width':1000,
                         'height':500,
                         'vAxis': {'direction': -1, 'maxValue': 3, 'minValue': 1, 'ticks': [{ v:0.7 , f: ''}, { v: 1, f: '1º'}, {v: 2, f: '2º'}, {v: 3, f: '3º'}, {v: 3.3, f: ''}]},
                         'focusTarget': 'category',
                         'pointSize': 8,
                         'lineWidth': 7,
                         'chartArea': { left: "50" },
                         'explorer': { actions: ['dragToZoom', 'rightClickToReset'], axis: 'horizontal' },
                          'tooltip': { isHtml: true }

                       };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          var chart2 = new google.visualization.AreaChart(document.getElementById('vis_div'));
          var chart3 = new google.visualization.PieChart(document.getElementById('donut_div'));
          
          chart.draw(dataRank, options);

          var title = "Visibilidad de cada dominio para: "+keyword;

          var options = {'title': title,
                         'width':1000,
                         'height':500,
                         'focusTarget': 'category',
                         'pointSize': 5,
                         'lineWidth': 2,
                         'chartArea': { left: "50" },
                         'explorer': { actions: ['dragToZoom', 'rightClickToReset'], axis: 'horizontal' }
                       };
          chart2.draw(dataVisib, options);
          var options = {'title': title,
                        'pieSliceText'  : 'label',

                };
          chart3.draw(donutVisib, options);
        {% endif %}
      }

      $(document).ready(function(){
        $("#showVisDiv").click(function(){
            $("#vis_div").fadeIn();
        });
      
    });
    </script>
    <h1>Resultados de "{{ keyword.name }}"</h1>
    {% if dataRanking is empty %}
      <p>Los resultados comenzarán a aparecer aquí en un rato.</p>
    {% endif %}
      <div id="chart_div"></div>
      {% if not sites is defined %}
        <p>Ver resultados detallados de:</p>
      {% endif %}
      <ul>
        {% for item in sites%}
          <li><a href="{{item.url}}">{{item.name}}</a></li>
        {% endfor %}
      </ul>
      <div id="donut_div" style="width: 900px; height: 500px;"></div>
      <button type="button" id="showVisDiv" class="btn btn-primary btn-xs">Ver evolución de visibilidad</button>
      <div id="vis_div" style="display:none"></div>
    <h4>Ver los resultados de otras keywords de este proyecto:</h4>
    <ul>
    {% for item in otherKeywords %}
      <li><a href="{{ item[1] }}">{{item[0]}}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
        
