{% extends 'layout.html.twig' %}

{% block content %}
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.

        var data = new google.visualization.DataTable();

        var j=0;

        {% if data is defined and columns is defined %}

          {% for item in columns %}
            if(j==0){
              data.addColumn('datetime', 'minute');
              j++;
            }else{
              data.addColumn('number', '{{item}}');
            }
          {% endfor %}

          var dataArray = {{ data|raw }};

          for(var i=0;i<dataArray.length;i++){
            var tempDate = new Date(dataArray[i][0]);
            var tempArray = [tempDate];
            for(j=1;j<dataArray[i].length;j++){
              tempArray.push(dataArray[i][j]);
            }
            data.addRow(tempArray);
          }
          var keyword = "{{ keyword }}";
          var title = "Posicionamiento en News: "+keyword;

          // Set chart options
          var options = {'title': title,
                         'width':900,
                         'height':500,
                         'vAxis': {'direction': -1, 'maxValue': 3, 'minValue': 1},
                         'focusTarget': 'category',
                         'pointSize': 3,
                         'explorer': { actions: ['dragToZoom', 'rightClickToReset'], axis: 'horizontal' }
                       };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        {% endif %}
      }
    </script>
    <h1>Resultados de "{{ keyword }}"</h1>
    {% if data is empty %}
      <p>Los resultados comenzarán a aparecer aquí en un rato.</p>
    {% endif %}
    <div id="chart_div"></div>
    <h4>Ver los resultados de otras keywords de este proyecto:</h4>
    <ul>
    {% for item in otherKeywords %}
      <li><a href="{{ item[1] }}">{{item[0]}}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
        
